entrypoint = "index.js"
modules = ["nodejs-20", "web", "nix", "postgresql-16"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "vm"
ignorePorts = false

[agent]
expertMode = true
integrations = ["discord:1.0.0"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33235
externalPort = 5000

[[ports]]
localPort = 34509
externalPort = 3000

[[ports]]
localPort = 38579
externalPort = 5173

[[ports]]
localPort = 38621
externalPort = 3001

[[ports]]
localPort = 39081
externalPort = 3002

[[ports]]
localPort = 39217
externalPort = 4200

[[ports]]
localPort = 41437
externalPort = 6000

[[ports]]
localPort = 43265
externalPort = 6800

[[ports]]
localPort = 45995
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ProEmoji Bot"

[[workflows.workflow]]
name = "ProEmoji Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000
